body {
    padding: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, "Arial", sans-serif;
}

h1 {
    font-size: 16px;
    margin-top: 0;
}

p {
    color: rgb(107, 114, 128);
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.card {
    max-width: 620px;
    margin: 0 auto;
    padding: 16px;
    border: 1px solid lightgray;
    border-radius: 16px;
}

.card p:last-child {
    margin-bottom: 0;
}

/* Marquee Animation */
.marquee-container {
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
    overflow: hidden;
}

.marquee-track {
    display: flex;
    gap: 2rem;
    width: max-content;
    animation: scroll 60s linear infinite;
    padding: 1rem 0;
}

.marquee-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-50% - 1rem));
        /* Adjust based on gap */
    }
}

.testimonial-card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}